/* #################################################################################################################################### */
/* ############################################################## GLOBAL ############################################################## */
/* #################################################################################################################################### */

html { scrollbar-width: none; }

* { box-sizing: border-box; }

@keyframes fadeIn { to {opacity: 1;} }

label { font-size: 11px; color: rgb(156, 163, 175); }

body {
	margin: 0;
	padding: 0;
	font-family: 'Bahnschrift', 'Segoe UI', sans-serif;
	background-size: cover;
    min-height: 110vh;
    height: 50px
}

button:not(.newsletter-form button, .basket-add, .login-button) {
	width: 30%;
	background-color: rgb(252, 172, 0);
	color: white;
	padding: 14px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.1s ease, transform 0.1s ease;
	margin-top: 7px;
}

button:hover { background-color: rgb(192, 116, 1); transform: scale(1.01) translateY(-2px); }

button:hover { background-color: rgb(253, 182, 74); transform: scale(1.02); }

button:active { transform: scale(0.98); }

/* #################################################################################################################################### */
/* ########################################################### PAGE LAYOUT ############################################################ */
/* #################################################################################################################################### */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 30px;
	background-color: rgba(244, 239, 233);
	z-index: 1000;
  	top: 0px;
	position: sticky;
  	overflow: hidden;
}

.nav-links {
	display: flex;
	list-style: none;
	gap: 90px;
    height: 23px;
}

.search {
	padding: 6px 14px;
	border-radius: 10pc;
	border: 2px solid rgb(201, 200, 200);
	background: rgba(235, 235, 235);
	font-size: 18px;
	width: 100%;
	max-width: 600px;
}

.symbol a {
	padding: 20px;
	border-radius: 10px;
	display: flex;
	align-items: center; 
	gap: 8px;
}

.nav-links a {
	color: rgba(60, 86, 76);
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	padding: 20px;
	border-radius: 10px;
	text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
}

.logo img { height: 90px; object-fit: contain; }

.nav-links a:hover { text-decoration: underline; }

.symbol { display: flex; align-items: center; }

.symbol a:hover { text-decoration: underline; }

.symbol img { height: 49px; object-fit: contain; }

.info-container, .account-container, .checkout, .redirect, .product-card:hover { box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); }

/* #################################################################################################################################### */
/* ############################################################## FOOTER ############################################################## */
/* #################################################################################################################################### */

footer {
	margin-top: 205px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(248, 249, 251);
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 20px 60px;
	margin-bottom: 0px;
	box-sizing: border-box;
}

.newsletter-signup {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0px;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	margin-bottom: 30px;
	flex-wrap: wrap;
}

.newsletter-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.newsletter-form input[type="email"] {
	padding: 10px;
	width: 437px;
	border: 1px solid #ccc;
	border-radius: 5px;
	border-width: 2px;
}

.newsletter-form button[type="submit"] {
	padding: 10px;
	background: #3b82f1;
	font-family: 'Bahnschrift', 'Segoe UI', sans-serif;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
	transition: 0.1s ease, transform 0.1s ease;
}

.newsletter-form button[type="submit"]:hover { background-color: rgb(37, 99, 235); }

.agree-terms {
	color: rgb(85, 85, 85);
	display: flex;
	gap: 5px;
	align-items: center;
	font-size: 14px;
}

footer img {
	height: 40px;
	object-fit: contain;
	margin-left: 10px;
	transition: 0.1s ease, transform 0.1s ease;
}

.footer-links {
	color: black;
	text-align: left;
	margin-bottom: 0px;
	gap: 0px;
}
footer img:hover { transform: scale(1.1); }

.footer-links a { text-decoration: none; color: rgb(85, 85, 85); }

.footer-links a:hover { text-decoration: none; color: #3b82f1; }

/* #################################################################################################################################### */
/* ############################################################### TEXT ############################################################### */
/* #################################################################################################################################### */

.welcome { flex-direction: column; gap: 5px; }

.slogan {
	margin: 110px 840px 0 371px;
	font-size: 40px;
	color: white;
	padding: 10px;
	background-color: rgba(67, 149, 79, 0.5);
	border-radius: 10px;
	max-width: 700px;
}

.title-section {
	font-family: 'Bree Serif', serif;
	font-weight: 700;
	display: flex;
	margin-left: 370px;
	margin-top: 0px;
	font-size: 90px;
	color: rgb(255, 175, 78);
	margin-bottom: 0px;
}

.text-section {
	font-size: 27px;
	color: white;
	margin-left: 372px;
	margin-right: 372px;
}

/* #################################################################################################################################### */
/* ############################################################ INFO PAGE ############################################################# */
/* #################################################################################################################################### */

.info-container, .account-container {
	align-items: center;
	gap: 20px;
	width: 85%;
	display: flex;
	margin: 20px auto 99px auto;
	padding: 40px;
	background: white;
	border-radius: 10px;
	transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.info-text h1 {
	color: rgb(255, 175, 78);
	font-family: 'Bree Serif', serif;
	font-size: 50px;
	margin-bottom: 20px;
	margin-top:0px;
}

.info-container:hover { box-shadow: 0 15px 40px rgba(0, 0, 0, 0.479); transform: scale(1.001); }

.info-text p {font-size: 22px; margin-bottom: 15px; }

.info-text p {font-size: 22px; margin-bottom: 15px; }

.info-container:hover { box-shadow: 0 15px 40px rgba(0, 0, 0, 0.479); transform: scale(1.001); }

.info-text { width: 57%; color: black; }

.info-image { width: 40%; }

.info-image img, .account-image img { width: 100%; border-radius: 10px; }

/* #################################################################################################################################### */
/* ############################################################## STOCK ############################################################### */
/* #################################################################################################################################### */

.category { width: 70%; margin: 40px auto; }

.category-subject {
	background: white;
	color: rgb(0, 0, 0);
	padding: 14px;
	text-align: center;
	margin-bottom: 41px;
	font-size:38px;
	border-radius: 10pc;
	border: 1px solid rgb(158, 158, 158);
}

.promotion img {
	justify-content: center;
	width: 70%;
	height: 345px;
	display: block;
	margin: 0 auto;
	margin-bottom: 41px;
	margin-top: 10px;
}

.options {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 0px;
	margin-top: 20px;
}

.product-card {
	background:  #ffffff;
	text-align: center;
	color: rgb(0, 0, 0);
	font-size: 20px;
	border: 1px solid rgb(158, 158, 158);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card img {
	width: 100%;
	height: 140px;
	object-fit: contain;
	background: white;
	margin-bottom: 25px;
	margin-top: 5px;
	gap: 5px;
}

.basket-add {
	margin-bottom: 5px;
	background-color: rgb(73, 124, 7);
	border: none;
	padding: 10px;
	border-radius: 10pc;
	color: white;
	width: 90%;
	font-size: 16px;
	cursor: pointer;
	transition: 0.1s ease, transform 0.1s ease;
}

.product-card:hover { transform: scale(1.01) translateY(-2px); }

.basket-add:hover { background-color: rgb(96, 156, 17); transform: scale(1.02); }

.basket-add:active { transform: scale(0.98); }

.on-sale {
	background-color: red;
	color: white;
	font-size: 13px;
	padding: 2px 4px;
	border-radius: 3px;
	margin-left: 5px;
}

.price { font-family: 'Bree Serif', serif; font-size: 20px; }

.old-price {
	font-family: 'Bree Serif', serif;
	text-decoration: line-through; 
	color: gray;                 
	font-size: 13px;             
	margin-right: 5px;             
}

.new-price {
	color: rgb(255, 48, 48);                    
	font-weight: bold;
	font-size: 20px;
}

.checkout {
	background-color: rgb(73, 124, 7); 
	font-size: 34px;
	cursor: pointer;
	width: fit-content;
	margin: 50px auto 20px auto; 
	border-radius: 10px;
	padding: 10px 40px;
	text-align: center;
	transition: 0.2s ease;
	display: block;
	color: white;
	text-decoration: none;
}

.checkout a { font-size: 35px; font-weight: bold; }

.checkout:hover { background-color: rgb(96, 156, 17); transform: scale(1.05); }

/* #################################################################################################################################### */
/* ############################################################## CONTACT ############################################################# */
/* #################################################################################################################################### */

.two-part-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 70px;
	width: 95%;
	margin: 50px;
	margin-top: 110px
}

.contact-text { width: 60%; color: white; }

.contact-form input, .contact-form textarea {
	width: 100%;
	padding: 12px;
	border: 2px solid rgb(202, 198, 198);
	border-radius: 5px;
	margin-bottom: 18px;
	font-size: 16px;
}

.contact-form input:focus, .contact-form textarea:focus { border-color: black; outline: none; }

.contact-form {
	width:60%;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.95);
	padding: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 600px;
}

.contact-form label {
	display: block;
	margin-bottom: 8px;
	color: black;
}

.contact-form button[type="submit"] {
	width: 100%;
	background-color: rgb(252, 172, 0);
	color: white;
	padding: 14px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

.contact-form button:hover { background-color: rgb(192, 116, 1); }

.redirect {
	background-color: rgb(252, 172, 0);
	font-size: 34px;
	cursor: pointer;
	width: 40%;
	margin-left: 600px;
	margin-top: 50px;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	transition: 0.1s ease, transform 0.1s ease;
}

.redirect a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 35px;
	font-weight: bold;
	border-radius: 10px;
	border-width: 2px;
}

.redirect:hover { background-color: rgb(240, 145, 3); }

/* #################################################################################################################################### */
/* ########################################################## LOGIN / SIGN UP ######################################################### */
/* #################################################################################################################################### */

.form-page {
	display: flex;
	margin-top: 100px;
	overflow: hidden;
	justify-content: center;
	color: rgba(60, 86, 76);
}

.two-part-box {
	display: flex;
	width: 720px;
	padding: 28px;
	border-radius: 12px;
	background: rgba(244, 239, 233);
	color: rgba(60, 86, 76);
}

.box-left { 
	flex: 1;
	margin-right: 24px;
}

.box-right {
	width: 230px;
	align-items: center;    
	border-radius: 8px;
	text-align: center;
	display: flex;      
	flex-direction: column; 
	justify-content: center;
}

.login-input {
	width: 95.5%;
	padding: 11px;
	margin-top: 6px;
	border-radius: 6px;
	margin-bottom: 12px;
	border: none;
	background: rgba(131, 131, 131, 0.1);
	color: rgba(60, 86, 76);
}

.login-button {
	width: 100%;
	margin-top: 18px;
	padding: 11px;
	background: #2ec409;
	border: none;
	border-radius: 6px;
	color: white;
	font-weight: 600;
	cursor: pointer;
	transition: 0.1s ease, transform 0.1s ease;
}

.side-image {
	width: 100%;
	border-radius: 8px;
	margin-bottom: 12px;
	justify-content: center;
	height: auto;
}

.login-button:hover { transform: translateY(-1px); background: #269909; }

.login-button:active { transform: scale(0.97) }

/* #################################################################################################################################### */
/* ############################################################## ACCOUNT ############################################################# */
/* #################################################################################################################################### */

.user-section {
	display: flex;
	font-family: 'Bree Serif', serif;
	margin-top: 30px;
	background-color: rgb(255, 255, 255);
	align-items: center;
}

.user-section img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	margin-right: 40px;
	margin-left: 120px;
	margin-bottom:20px;
}

.account-text h1 {
	color: rgb(255, 175, 78);
	font-family: 'Bree Serif', serif;
	font-size: 50px;
	margin-bottom: 20px;
	margin-top:0px;
}

.account-container:hover { box-shadow: 0 15px 40px rgba(0, 0, 0, 0.479);  transform: scale(1.001); }

.account-image { width: 20%; }

.account-text { width: 77%; color: black; }

.account-text p { font-size: 22px; margin-bottom: 15px; }

/* #################################################################################################################################### */
/* ############################################################## SETTING ############################################################# */
/* #################################################################################################################################### */

body.protanopia { filter: grayscale(20%) hue-rotate(-30deg); }

body.deuteranopia { filter: grayscale(20%) hue-rotate(30deg); }

body.tritanopia { filter: grayscale(20%) hue-rotate(150deg); }

body.achromatopsia { filter: grayscale(100%); }